/* RESET global */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

body {
    font-family: 'Embed code' 'Albert Sans', 'Arial', 'Helvetica', 'serif';
    width: 65vw;
    height: auto;
    max-width: 65vw;
    background-color: rgb(121, 21, 21);
    background: rgb(151, 0, 0);
    background: radial-gradient(circle, rgba(151, 0, 0, 1) 0%, rgba(54, 0, 0, 1) 56%, rgba(0, 0, 0, 1) 100%);
    margin: 0 auto;
    color: #ffffff;
}

#container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #9a291d
}

#banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#banner figure {
    width: 70%;
    height: 90%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}


#banner figure img {
    width: 100%;
    height: 90%;
}

#banner figure figcaption {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    background-color: black;
    color: #ffffff;
    padding: 5px;
}

#banner ul {
    display: flex;
}

#banner ul li {
    list-style: none;
    font-size: 30px;
    color: #000000;
}


#menu {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    color: #79130a;
    padding-top: 20px;
}

#menu ul {
    width: 100%;
    display: flex;
    /* flex-direction: row; por que quando coloca o flex automaticamente ele fica em linha*/
    justify-content: space-around;
}

#menu ul li {
    list-style: none;
}

#menu ul li a {
    text-decoration: none;
    color: #79130a;
    font-size: 28px;
    font-weight: 700;

    &:hover {
        color: #9a291d;
        text-decoration: underline;
    }
}


#titulo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#titulo h1 {
    text-align: center;
}

#titulo img {
    width: 60%;
    height: auto;
    border-radius: 5px;
    margin: 10px 0;
}

#conteudo {
    width: 100%;
    height: auto;
    padding: 0 60px;
    padding-top: 50px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 30% 60%;
    gap: 10%;
}

#ingredientes,
#modo-preparo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.margens-titulos {
    margin: 15px 0;
}

#ingredientes ul li {
    list-style-position: inside;
}


/* alinhar os numeros da lista numerada de modo de preparo */

#modo-preparo ol li {
    list-style-type: decimal;
    list-style-position: inside;
    margin-bottom: 10px;

    &:last-child {
        margin: 0;
    }

    &::marker {
        font-weight: 800;
    }
}

@media (max-width: 1024px) {
    body {
        width: 80vw;
        max-width: 80vw;
    }

    #conteudo {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        padding: 15px 30px;

    }
}

@media(max-width: 600px) {
    body {
        width: 100vw;
        max-width: 100vw;
    }

    #menu {
        height: 50px;
    }

    #menu ul {
        justify-content: space-evenly;

    }

    #menu ul i a {
        font-size: 18px;
    }

    #titulo h1 {
        font-size: 25px;
        text-align: center;
    }

    #conteudo {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        padding: 15px 30px;
    }
}