/* RESET global */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

body {
    font-family: 'Embed code' 'Albert Sans', 'Arial', 'Helvetica', 'serif';
    width: 65vw;
    height: auto;
    max-width: 65vw;
    background-color: rgb(121, 21, 21);
    background: linear-gradient(0deg, rgba(121, 21, 21, 1) 38%,
            rgba(0, 0, 0, 1) 100%);
    ;
    margin: 0 auto;
    color: #ffffff;
}

#menu {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    color: #79130a;
    padding-top: 20px;
}

#menu ul {
    display: flex;
    /* flex-direction: row; por que quando coloca o flex automaticamente ele fica em linha*/
    justify-content: space-around;


}

#menu ul li {
    list-style: none;
}

#menu ul li a {
    text-decoration: none;
    color: #79130a;
    font-size: 28px;
    font-weight: 700;

    &:hover {
        color: #9a291d;
        text-decoration: underline;
    }
}


#titulo {
    width: 100%;
    height: auto;
    background-color: #79130a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo img {
    width: 60%;
    height: auto;
    border-radius: 5px;
}

#conteudo {
    width: 100%;
    height: auto;
    background-color: #79130a;
    padding: 0 60px;
    padding-top: 50px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 30% 60%;
    gap: 10%;
}

#ingredientes,
#modo-preparo {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.margens-titulos {
    margin: 15px 0;
}

/* alinhar os numeros da lista numerada de modo de preparo */

#modo-preparo ol li {
    list-style-type: decimal;
    list-style-position: inside;
    margin-bottom: 10px;   
}
